/* Navbar.module.scss */
.navbar {
    animation: navBarAnim 2s ease 0s 1 normal forwards;
    padding: 10px ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    /* From https://css.glass */
    background: rgba(123, 166, 229, 0.29);
 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(123, 166, 229, 0.3);
   
  
    .logo {
      img {
        border-radius: 5px;
        height: 50px;
      }
    }
  
    .links {
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 20px;
        button{
          border-radius: 5px;
          border: none;
          font-family: Arial, Helvetica, sans-serif;
          padding: 5px;
          text-align: left;
          font-size: large;
          height: 40px;
          
       font-size: larger;
          background: rgba(123, 166, 229, 0.29);
        }
  
        li {
        
          cursor: pointer;
          transition: all .2s ease-in-out;
        }
        li:hover{
       
            transform: scale(1.1);
        }
        a{
       
            color: #fff;
            text-decoration: none;
        }
        a:hover{
            color: lightsteelblue;
        }
      }
    }
  }
  @keyframes navBarAnim {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateY(-250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateY(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateY(-65px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateY(-28px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateY(-8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateY(0);
	}
}